<!--suppress XmlUnboundNsPrefix -->

{% load static %}

<!DOCTYPE html>
<html class="h-full bg-gray-50" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>virusscan web</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/utils.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="h-full">
{% block content %}
{% endblock %}
</body>
</html>